<!-- INÍCIO DO CONTEÚDO -->
<div class="content-wrapper">
  <section class="content-header">
      <h1>Lista Cargos</h1>
    </section>
  
   
         

      <div class="col-xs-8" style="align-content: center">
        <div class="box">

          <!-- /.box-header -->
          <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>cód</th>
                    <th>Descricao</th>
                  </tr>
                  </thead>

                  <tbody *ngFor="let c of cargos" > 

                  <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.descricao}}</td>
                  </tr>

                  </tbody>
              </table>
          </div>
          <!-- /.box-body -->
        </div>
</div>



      
    </div>
  <!-- FIM DO CONTEÚDO -->