<!-- INÍCIO DO CONTEÚDO -->
<div class="content-wrapper">
  <section class="content-header">
      <h1>Lista Cargos</h1>
    </section>
  
    <section class="content">
         

      <div class="col-xs-8">
        <div class="box">

          <!-- /.box-header -->
          <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>cód</th>
            <th>Descricao</th>
            <th>Ativo</th>
            <th>Edit</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Assistente </td>
            <td> Ativo</td>
            

          </tr>

          <tr>
            <td>2</td>
            <td>Cordenador</td>
            <td> Ativo</td>

          </tr>
          <tr>
            <td>3</td>
            <td>Gerente</td>
            <td>Ativo</td>

          </tr>
          <tr>
            <td>4</td>
            <td>Analista</td>
            <td>Ativo</td>

          </tr>
          </tbody>
              </table>
          </div>
          <!-- /.box-body -->
        </div>
</div>



      </section>
    </div>
  <!-- FIM DO CONTEÚDO -->