<!-- INÍCIO DO CONTEÚDO -->
<div class="content-wrapper">
  <section class="content-header">
      <h1>Lista Cargos</h1>
    </section>
  
   
         

      <div class="col-xs-8" style="align-content: center">
        <div class="box">

          <!-- /.box-header -->
          <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>cód</th>
                    <th>Descricao</th>
                    <th>Ação</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let cargo of cargos" > 
                  <tr>
                    <td>{{cargo.id}}</td>
                    <td>{{cargo.descricao}}</td>
                    <div>
                      <button class="btn btn-success " (click) = "onEdit(cargo.id)">
                            <span class="fa fa-pencil"></span>
                      </button>
                      <button class="btn btn-danger"  (click)="excluir(cargo.id)" >
                        <span class="fa fa-trash"></span>
                      </button>
                    </div>  
                  </tr>
                  </tbody>
              </table>
          </div>
          <!-- /.box-body -->
        </div>

        <div id="actions" class="row">	
                      
          <div class="col-md-2">	      
                 <a [routerLink]="['/cargoCadastro']" class="btn btn-primary">Novo </a>	    
          </div>	  
      </div>	
</div>





      
    </div>
  <!-- FIM DO CONTEÚDO -->