<!DOCTYPE html>
<html>


<body class="hold-transition skin-purple  sidebar-mini">


  <div style="height: 100% !important;" class="wrapper">
    <!-- Componente Header-->
    <crm-header></crm-header>
    <!-- ==================-->
    <!-- Componente Header-->
    <div>
      <crm-side></crm-side>
    </div>
    <!-- ==================-->

    <!-- Componente Centro-->

    <div >
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <crm-footer></crm-footer>
    </div>

  </div>
</body>

</html>