<!DOCTYPE html>
<html>


  <body class="hold-transition skin-purple  sidebar-mini">

     

          <!-- Componente Header-->
          <crm-header>

          </crm-header>
          <!-- ==================-->
          <!-- Componente Header-->
          <crm-side>

          </crm-side>
          <!-- ==================-->

      
          <!-- Componente Centro-->
          <router-outlet>
              <div  class="container" ></div>
          </router-outlet>
          <!-- ==================-->
        
          <!-- Componente Centro-->
          <crm-footer >

          </crm-footer>
          <!-- ==================-->
  </body>
</html>