<!DOCTYPE html>
<html>


<body class="hold-transition skin-purple  sidebar-mini">


  <div style="height: 100% !important;" class="wrapper" style="align-content: center"> 
   
    <crm-header></crm-header>
  
    <div>
      <crm-side></crm-side>
    </div>
   

    <div style="align-content: center">
            <div class="content-wrapper" style="align-content: center">
              <router-outlet>
                
              </router-outlet>
            </div>
            <crm-footer>
              
            </crm-footer>
    </div>

  </div>
</body>

</html>