<!-- INÍCIO DO CONTEÚDO -->
    <section class="content">

        <form  #form="ngForm"  class="form-group" (ngSubmit)='cadastrar()'>
        
        <div class="row">
            <br/>
            <legend class="col-form-label col-sm-12 pt-10">Dados do Usuário</legend>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="name">Nome</label>
                <input type="text" [(ngModel)]="usuario.nome" class="form-control" name="nome" placeholder="Nome">
             
                
            </div>

            <div class="form-group col-md-2">
                <label for="name">Login</label>
                <input type="text" [(ngModel)]="usuario.login" class="form-control" name="login" placeholder="Login">
            </div>

            <div class="form-group col-md-2">
                <label for="name">Senha</label>
                <input type="password" [(ngModel)]="usuario.senha" class="form-control" name="senha" placeholder="Senha">
            </div>

        </div>



        <div class="row">
            <div class="form-group col-md-4">
                <label for="name">Email</label>
                <input type="text" [(ngModel)]="usuario.email" class="form-control" name="email" placeholder="Email">
            </div>

            <div class="form-group col-md-2">
                <label for="name">Funcional</label>
                <input type="text" [(ngModel)]="usuario.funcional" class="form-control" name="funcional" placeholder="Funcional">
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                    
                    <div class="col-lg-12 form-group">
                        <input id="btnFrete" value="calcular Frete" class="btn btn-primary form-control" type="submit" />   
                      </div>
                    
                <a [routerLink]="['/usuarioConsulta']" class="btn btn-default">Voltar</a>
            </div>
        </div>

    </form>

    </section>

<!-- FIM DO CONTEÚDO -->