<!-- INÍCIO DO CONTEÚDO -->
    <section class="content">

        <div class="row">
            <br/>
            <legend class="col-form-label col-sm-12 pt-10">Dados do Usuário</legend>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="name">Nome</label>
                <input type="text" class="form-control" name="name" placeholder="Nome">
            </div>
        </div>



        <div class="row">
            <div class="form-group col-md-4">
                <label for="name">Sobrenome</label>
                <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome">
            </div>

            <div class="form-group col-md-4">
                <label for="name">RG</label>
                <input type="text" class="form-control" name="rg" placeholder="RG">
            </div>

            <div class="form-group col-md-4">
                <label for="name">CPF</label>
                <input type="text" class="form-control" name="cpf" placeholder="CPF">
            </div>
        </div>




        <div class="row">

            <div class="form-group col-md-4">
                <label for="campo3">Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>

            <div class='col-sm-3'>
                <div class="form-group">
                    <label for="campo3">Data de Nascimento</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>

        <div class="row">

            <div class="form-group col-md-3">
                <label for="name">Login</label>
                <input type="text" class="form-control" name="login" placeholder="Login">
            </div>

            <div class="form-group col-md-3">
                <label for="senha">Password</label>
                <input type="password" class="form-control" id="senha" placeholder="Password">
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Cargo</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Administrador</option>
                        <option value="2">Gerente</option>
                        <option value="3">Cordenador</option>
                        <option value="4">Supervidor</option>
                        <option value="4">Assistiente</option>
                    </select>
                </div>
            </div>

        </div>



        <div class="row">

            <div class="col-sm-1">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Ativo
                    </label>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Inativo
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1"> Senha expirada</label>
                </div>
            </div>
        </div>

        <div class="row">
            <legend class="col-form-label col-sm-12 pt-10">Endereço</legend>
        </div>

        <div class="row">
            <div class="form-group col-md-2">
                <label for="name">Cep</label>
                <input type="text" class="form-control" name="Cep" placeholder="Cep">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="name">Endereço</label>
                <input type="text" class="form-control" name="endereco" placeholder="Endereço">
            </div>

            <div class="form-group col-md-1">
                <label for="name">Número</label>
                <input type="text" class="form-control" name="numero" placeholder="Número">
            </div>

            <div class="form-group col-md-3">
                <label for="name">Complemento</label>
                <input type="text" class="form-control" name="complemento" placeholder="Complemento">
            </div>


            <div class="form-group col-md-3">
                <label for="name">Bairro</label>
                <input type="text" class="form-control" name="bairro" placeholder="Bairro">
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">País</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">Brasil</option>
                        <option value="2">Argentina</option>
                        <option value="3">Uruguai</option>
                        <option value="4">Chile</option>
                        <option value="4">Colombia</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label for="name">UF</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">Município</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected>Selecione</option>
                        <option value="1">BA</option>
                        <option value="2">SP</option>
                        <option value="3">RJ</option>
                        <option value="4">SE</option>
                        <option value="4">CE</option>
                    </select>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-12">
                <a class="btn btn-primary">Cadastrar</a>
                <a [routerLink]="['/usuarioConsulta']" class="btn btn-default">Voltar</a>
            </div>
        </div>


    </section>

<!-- FIM DO CONTEÚDO -->